/* Header */

header {
  border-top: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background: white;
}

header .logo {
  float: left;
  margin-top: 10px;
  margin-bottom: 0;
}

header .logo img {
  height: 45px;
}

header h1 {
  margin: 0;
  float: left;
  margin-top: 10px;
  font-size: 30px;
  margin-left: 30px;
  vertical-align: middle;
}

header h1 a {
  color: #777;
}

header h1 a:hover {
  text-decoration: none;
  color: #777;
}

header nav {
  margin-top: 17px;
}

header nav ul.nav-main {
  margin-bottom: 0;
}


/* Body */

.container {
  margin-top: 30px;
}


/* Sidebar */

.sidebar h6 {
  color: #777;
  margin-bottom: 6px;
  font-size: 16px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar h6 + ul {
  margin-left: 0;
}

.sidebar ul + h6 {
  margin-top: 30px;
}


/* Main */

h2 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 30px;
}

h3 {
  color: #121214;
  text-transform: none;
  font-size: 26px;
  line-height: 26px;
  line-height: 36px;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 0
}

h4 {
  color: #121214;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 0
}

h3 + h4 {
  margin-top: 20px;
}

.main {
  margin-bottom: 40px;
}

.main p,
.main pre,
.main img {
  margin-top: 16px;
  margin-bottom: 0;
}

.main ul {
  margin-top: 10px;
  margin-bottom: 0;
}

.main pre + p,
.main pre + ul,
.main pre + pre,
.main pre + img,
.main img + p,
.main img + ul,
.main img + pre,
.main img + img {
  margin-top: 30px;
}

.main img {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  border: 1px solid #ddd;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
}

.zoom {
  zoom: 60%;
}

.user-comments {
  margin-top: 70px;
  border: 2px solid #eee;
  border-radius: 6px;
  padding: 10px 20px;
}


/* Emulators */

.emulator-table th,
.emulator-table td {
	text-align: center;
}

.emulator-table tr th:first-of-type,
.emulator-table tr td:first-of-type {
	text-align: left;
}

/* Bulletproof tests */
.side-by-side {
	margin-bottom: 40px;
}

.side-by-side img {
	display: inline-block;
	width: 40%;
}

.versions-table {
  width: 65%
}

.versions-table th,
.versions-table td {
  text-align: center;
  border: none;
}

.device-versions-table {
  width: 50%
}
