<footer>
	<div class="container">
		<div class="row">
			<div class="footer-ribon">
				<span>Get in Touch</span>
			</div>
			<div class="span3">
				<h4>Products</h4>
				<dl>
					<dd>
						<a href="http://testobject.com">CONTINUOUS</a>
					</dd>
					<dd>
						<a href="http://testobject.com/instashot">INSTAshot</a>
					</dd>
				</dl>
			</div>
			<div class="span3">
				<h4>Company</h4>
				<dl>
					<dd>
						<a href="http://testobject.com/about-us">About us</a>
					</dd>
					<dd>
						<a href="http://testobject.com/jobs">Careers</a>
					</dd>
					<dd>
						<a href="http://testobject.com/press">Press</a>
					</dd>
					<dd>
						<a href="http://testobject.com/contact-us">Contact</a>
					</dd>
				</dl>
			</div>
			<div class="span3">
				<h4>Community</h4>
				<dl>
					<dd>
						<a href="http://blog.testobject.com">Blog</a>
					</dd>
					<dd>
						<div style="height: 10px"></div>
					</dd>
					<dd>
					<div class="social-icons">
						<ul class="social-icons">
							<li class="facebook"><a href="http://www.facebook.com/pages/TestObject/225310984232832" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
							<li class="twitter"><a href="http://twitter.com/#!/testobject" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
							<li class="linkedin"><a href="http://www.linkedin.com/profile/view?id=243768183" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
						</ul>
					</div>
					</dd>
				</dl>
			</div>
			<div class="span3">
				<h4>Newsletter</h4>
				<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

				<div class="alert alert-success hidden" id="newsletterSuccess">
					<strong>Success!</strong> You've been added to our email list.
				</div>

				<div class="alert alert-error hidden" id="newsletterError"></div>

				<form class="form-inline" action="http://testobject.us6.list-manage.com/subscribe/post?u=a97856594e455400c557eee59&amp;id=344865c20f" id="mc-embedded-subscribe-form"
					name="mc-embedded-subscribe-form" method="post" target="_blank" novalidate>
					<div class="control-group">
						<div class="input-append">
							<input class="span2" placeholder="Email Address" name="EMAIL" id="email" type="text"></input>
							<button class="btn" type="submit">Go!</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="span1">
					<a href="http://testobject.com" class="logo"> <img src="http://testobject.com/img/logo-footer.png"></a>
				</div>
				<div class="span7">
					<p>© Copyright 2013 by TestObject. All Rights Reserved.</p>
				</div>
				<div class="span4">
					<nav id="sub-menu">
						<ul>
							<li><a href="http://testobject.com/imprint">Imprint</a></li>
							<li><a href="http://testobject.com/terms">Terms of Service</a></li>
							<li><a href="http://testobject.com/privacy">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>