<footer>
		<div class="container">
			<div class="row">
				<div class="footer-ribon">
					<span>Get in Touch</span>
				</div>
				<div class="span3">
					<h4>TestObject</h4>
					<dl>
						<dd>
							<a href="http://www.testobject.com/about-us.html">Company</a>
						</dd>
						<dd>
							<a href="http://www.testobject.com/team.html">Team</a>
						</dd>
						<dd>
							<a href="http://www.testobject.com/jobs.html">Jobs</a>
						</dd>
						<dd>
							<a href="http://www.testobject.com/press.html">Press</a>
						</dd>
						<dd>
							<a href="http://blog.testobject.com">Blog</a>
						</dd>
					</dl>
				</div>
				<div class="span3">
					<div class="contact-details">
						<h4>Contact Us</h4>
						<ul class="contact">
							<li><p>
									<i class="icon-map-marker"></i> <strong>Address:</strong>
									Neuendorfstr. 18b, 16761 Hennigsdorf, Germany
								</p></li>
							<li><p>
									<i class="icon-phone"></i> <strong>Phone:</strong> +49 (0) 33
									02559375
								</p></li>
							<li><p>
									<i class="icon-envelope"></i> <strong>Email:</strong> <a
										href="mailto:hello@testobject.com">hello@testobject.com</a>
								</p></li>
						</ul>
					</div>
				</div>
				<div class="span3">
					
				</div>
				<div class="span3">
					<h4>Follow Us</h4>
					<div class="social-icons">
						<ul class="social-icons">
							<li class="facebook"><a
								href="http://www.facebook.com/pages/TestObject/225310984232832"
								target="_blank" data-placement="bottom" rel="tooltip"
								title="Facebook">Facebook</a></li>
							<li class="twitter"><a
								href="http://twitter.com/#!/testobject" target="_blank"
								data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
							<li class="linkedin"><a
								href="http://www.linkedin.com/profile/view?id=243768183"
								target="_blank" data-placement="bottom" rel="tooltip"
								title="Linkedin">Linkedin</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="span1">
						<a href="index.html" class="logo"> <img
							alt="Porto Website Template" src="http://www.testobject.com/img/logo-footer.png">
						</a>
					</div>
					<div class="span7">
						<p>© Copyright 2013 by TestObject. All Rights Reserved.</p>
					</div>
					<div class="span4">
						<nav id="sub-menu">
							<ul>
								<li><a href="http://www.testobject.com/imprint.html">Imprint</a></li>
								<li><a href="http://www.testobject.com/terms.html">Terms of Service</a></li>
								<li><a href="http://www.testobject.com/privacy.html">Privacy Policy</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</footer>