<header>
		<div class="container">
			<div class="row">
				<h1 class="logo">
					<a href="index.html"> <img alt="TestObject" src="http://www.testobject.com/img/logo.png">
					</a>
				</h1>
				<div class="search hidden-phone">
					<form class="form-search" id="searchForm"
						action="http://testobject.com/page-search-results.html" method="get">
						<div class="control-group">
							<input type="text" class="input-medium search-query" name="q"
								id="q" placeholder="Search...">
							<button class="search" type="submit">
								<i class="icon-search"></i>
							</button>
						</div>
					</form>
				</div>
				<nav>
					<ul class="nav nav-pills nav-top">
						<li><a href="http://www.testobject.com/about-us.html"><i class="icon-angle-right"></i>About
								Us</a></li>
						<li><a href="http://www.testobject.com/contact-us.html"><i class="icon-angle-right"></i>Contact
								Us</a></li>
						<li><a href="http://blog.testobject.com"><i
								class="icon-angle-right"></i>Blog</a></li>
						<li class="phone"><span><i id="phone"
								class="icon-phone"></i>+49 (0) 33 02559375</span></li>
					</ul>
				</nav>
				<div class="social-icons"></div>
				<nav class="nav-bar">
					<ul class="nav nav-pills nav-main" id="mainMenu">
						<li><a
							href="http://help.testobject.com/wiki/display/cf/Getting+Started+Tutorial"
							target="_blank"> Get Started </a></li>
						<li><a href="http://www.testobject.com/pricing.html"> Pricing </a></li>
						<li><a href="http://www.testobject.com/support.html"> Support </a></li>
					</ul>
					<ul class="nav-buttons hidden-phone">
						<li><a class="btn signup" type="button"
							href="https://app.testobject.com/signup">Sign up</a></li>
						<li><a class="btn login" type="button"
							href="https://app.testobject.com/login">Log in</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>