<header>
	<div class="menu-header clearfix">
		<div class="pull-left">
			<a class="logo" href="http://testobject.com" title="TestObject">
				<img alt="TestObject" src="https://help.testobject.com/img/common/logo.png">
			</a>
			<h1><a href="/">Help Center</a></h1>
		</div>

		<nav class="nav-bar">
			<ul class="nav nav-pills nav-main">
				<li><a class="nav-link" id="search-button">Search</a></li>
				<li><a href="http://testobject.com/pricing">Pricing</a></li>
			</ul>

			<ul class="nav-buttons">
				<li><a class="btn signup" type="button" href="https://app.testobject.com/#/signup">Sign up</a></li>
				<li><a class="btn login" type="button" href="https://app.testobject.com/#/login">Log in</a></li>
			</ul>
		</nav>
	</div>
</header>
