<ul>
	<li> <a href="/docs/testing-tools/manual-testing/">Manual Testing</a> </li>
	<li> <a href="/docs/testing-tools/quality-report/">Quality Report</a> </li>
	<li> <a href="/docs/testing-tools/automation/">Automated Testing</a>

	<ul>
		<li><a href="/docs/testing-tools/automation/appium/">Appium (iOS and Android)</a></li>
		<li><a href="/docs/testing-tools/automation/robotium/">Robotium (Android)</a></li>
		<li>Espresso (Android)</li>
		<li><a href="/docs/testing-tools/automation/reporting/">Reporting</a></li>
	</ul>
</ul>
