<ul>
	<li> <a href="/docs/general-reference/devices/">Devices</a> </li>
	<li> <a href="/docs/general-reference/settings/">Account</a> </li>
  <li> <a href="/docs/general-reference/dashboard/">Dashboard</a> </li>
  <li> <a href="/docs/general-reference/automation/">Automation</a></li>
  <li> <a href="/docs/general-reference/automation/reporting">Test Reports</a></li>
  <li> <a href="/docs/general-reference/faq/">FAQs</a> </li>
  <li> <a href="/docs/general-reference/iospermissions/">iOS Permissions</a></li>
</ul>
