<ul>
  <li> <a href="/docs/general-reference/devices/">Device Cloud</a> </li>
  <li> <a href="/docs/general-reference/creating-an-account/">Creating an Account</a> </li>
  <li> <a href="/docs/general-reference/managing-your-account/">Managing your Account</a> </li>
  <li> <a href="/docs/general-reference/managing-your-apps/">Managing your Apps</a> </li>
  <li> <a href="/docs/general-reference/issue-tracking/">Issue Tracking</a></li>
  <li> <a href="/docs/general-reference/faq/">FAQs</a></li>
</ul>
