<ul>
  <li><a href="/docs/tools/appium/introduction/">Introduction</a></li>
  <li><a href="/docs/tools/appium/test-reports/">Test Reports</a></li>
  <li><a href="/docs/tools/appium/setups/">Setting Up Your Tests</a></li>
  <li><a href="/docs/tools/appium/appium-api/">Our Libraries</a></li>
  <li><a href="/docs/tools/appium/continuous-integration-landing/">Continuous Integration</a></li>
  <li><a href="/docs/tools/appium/reference/">Reference</a></li>
  <li><a href="/docs/guides/tutorials-appium/">Tutorials</a></li>
</ul>
