<ul>
	<li>
		<a href="/docs/guides/recorder/">Recorder</a>
		{% include nav-recorder.html %}
	</li>
	<li>
		<a href="/docs/guides/image-matching/">Image Matching</a>
		{% include nav-image-matching.html %}
	</li>
	<li>
		<a href="/docs/guides/bulletproof-tests">Bulletproof Tests</a>
	</li>
	<li>
		<a href="/docs/guides/dependencies">Installing a Dependency App</a>
	</li>
	<li>
		<a href="/docs/guides/android-versions">Testing Different Android Versions</a>
	</li>
	<li>
		<a href="/docs/guides/http">HTTP Requests</a>
	</li>
	<li>
		<a href="/docs/guides/random-strings">Generate random strings</a>
	</li>	
	<li>
		<a href="/docs/guides/camera">Use camera features</a>
	</li>
</ul>
