<div class="span3 sidebar">

	<h6>Basics</h6>
	{% include nav-reference.html %}

	<h6>Automated Testing</h6>
	{% include nav-automated-testing.html %}

	<h6>Manual Testing</h6>
	{% include nav-manual.html %}

	<h6>Appium</h6>
	{% include nav-appium.html %}

	<h6>Espresso/Robotium</h6>
	{% include nav-robotium.html %}

	<h6>REST API</h6>
	{% include nav-api.html %}

	<h6>Additional Services/Products</h6>
	{% include nav-onpremise.html %}

	<h6>More Information</h6>
	<ul>
		<li><a href="https://testobject.com/about">About TestObject</a></li>
		<li><a href="http://github.com/testobject">GitHub</a></li>
		<li><a href="http://blog.testobject.com">Our Blog</a></li>
	</ul>

	<h6>Contribution</h6>
	<small>This documentation site is open source. <br>Feel free to <a href="https://github.com/testobject/help/issues">file issues about it</a>. <br>The README in our <a href="https://github.com/testobject/help">Git repository</a> <br>explains how to contribute.</small>

</div>
