
<div id="sidebar" class="span3">
	<h2>Guides</h2>
	<ul>
		<li><a href="/docs/guides/getting-started/">Getting started</a></li>
		<li><a href="/docs/guides/ant-task/">Automated Test Execution
				with Ant</a></li>
	</ul>

	<h2>References</h2>
	<ul>
		<li><a href="/docs/references/scripting-api/">JavaScript API</a>
			<ul>
				<li><a href="/docs/references/scripting-api/input">Input</a></li>
				<li><a href="/docs/references/scripting-api/sensor">Sensor</a></li>
				<li><a href="/docs/references/scripting-api/phone">Phone</a></li>
				<li><a href="/docs/references/scripting-api/apps">Apps</a></li>
				<li><a href="/docs/references/scripting-api/locator">Locator</a></li>
				<li><a href="/docs/references/scripting-api/scripting">Scripting</a></li>
			</ul></li>
	</ul>

	<h2>Contact</h2>
	<ul>
		<li><a href="http://twitter.com/testobject">Twitter</a></li>
		<li><a href="https://www.hipchat.com/gFmnxDmu2">Chat</a></li>
		<li><a href="mailto:info@testobjct.com">E-Mail</a></li>
		<li><a href="http://github.com/testobject">GitHub</a></li>
		<li><a href="http://blog.testobject.com">Blog</a></li>
	</ul>

</div>