<div class="span3 sidebar">

	<h6>General Reference</h6>
	{% include nav-ref.html %}

	<h6>Continuous Integration</h6>
	<ul>
		<li>
			<a href="/docs/guides/continuous-integration">CI Guides</a>
		</li>
	</ul>

	<h6>Custom Tests</h6>
	<ul>
		<li>
			<a href="/docs/getting-started/">Getting Started</a>
		</li>
		<li>
			<a href="/docs/guides/">Guides</a>
		</li>
		<li>
			<a href="/docs/faq">FAQ</a>
		</li>
	</ul>

	<h6>Script API Reference</h6>
	{% include nav-api.html %}

	<h6>Contact</h6>
	<ul>
		<li><a href="https://www.hipchat.com/gFmnxDmu2">Live Chat</a></li>
		<li><a href="http://twitter.com/testobject">Twitter</a></li>
		<li><a href="mailto:info@testobject.com">Email</a></li>
		<li><a href="http://github.com/testobject">GitHub</a></li>
		<li><a href="http://blog.testobject.com">Blog</a></li>
	</ul>

	<h6>Contribution</h6>
	<small>This documentation site is open source. Feel free to <a href="https://github.com/testobject/help/issues">file issues about it</a>. The README in our <a href="https://github.com/testobject/help">Git repository</a> explains how to contribute.</small>

</div>
