<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

<!-- Web Fonts  -->
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Libs CSS -->
<link rel="stylesheet" href="testobject.com/css/bootstrap.css" />
<link rel="stylesheet"
	href="testobject.com/css/fonts/font-awesome/css/font-awesome.css" />
<link rel="stylesheet"
	href="testobject.com/vendor/flexslider/flexslider.css"
	media="screen" />
<link rel="stylesheet"
	href="testobject.com/vendor/fancybox/jquery.fancybox.css"
	media="screen" />

<!-- Theme CSS -->
<link rel="stylesheet" href="testobject.com/css/theme.css" />
<link rel="stylesheet"
	href="testobject.com/css/theme-elements.css" />
<link rel="stylesheet" href="testobject.com/css/skins/blue.css" />

<!-- Custom CSS -->
<link rel="stylesheet" href="testobject.com/css/custom.css" />

<!-- Current Page Styles -->
<link rel="stylesheet"
	href="testobject.com/vendor/revolution-slider/css/settings.css"
	media="screen" />
<link rel="stylesheet"
	href="testobject.com/vendor/revolution-slider/css/captions.css"
	media="screen" />
<link rel="stylesheet"
	href="testobject.com/vendor/circle-flip-slideshow/css/component.css"
	media="screen" />

<!-- Responsive CSS -->
<link rel="stylesheet"
	href="testobject.com/css/bootstrap-responsive.css" />
<link rel="stylesheet"
	href="testobject.com/css/theme-responsive.css" />
	
<!-- Libs -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="testobject.com/vendor/bootstrap.js"></script>