<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Web Fonts  -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
	rel="stylesheet" type="text/css" />

<!-- Libs CSS -->
<link rel="stylesheet" href="https://help.testobject.com/css/bootstrap.css" />

<link rel="stylesheet"
	href="https://help.testobject.com/vendor/flexslider/flexslider.css"
	media="screen" />
<link rel="stylesheet"
	href="https://help.testobject.com/vendor/fancybox/jquery.fancybox.css"
	media="screen" />

<!-- Theme CSS -->
<link rel="stylesheet" href="https://help.testobject.com/css/theme.css" />
<link rel="stylesheet"
	href="https://help.testobject.com/css/theme-elements.css" />
<link rel="stylesheet" href="https://help.testobject.com/css/skins/blue.css" />

<!-- Custom CSS -->
<link rel="stylesheet" href="https://help.testobject.com/css/custom.css" />

<!-- Responsive CSS -->
<link rel="stylesheet"
	href="https://help.testobject.com/css/bootstrap-responsive.css" />
<link rel="stylesheet"
	href="https://help.testobject.com/css/theme-responsive.css" />

<!-- Libs -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="https://help.testobject.com/vendor/bootstrap.js"></script>
