<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TestObject Continuous: {{ page.title }}</title>
{% include testobject.html %}

<link rel="stylesheet" type="text/css" href="/css/pygments/default.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/base.css" media="screen">

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push([ '_setAccount', 'UA-24868285-6' ]);
    _gaq.push([ '_trackPageview' ]);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>
<body>
	{% include header.html %}
	<div class="container">
		<div id="navigation" class="row">
			{% include navigation.html %}
			
			<!-- /#sidebar -->
			<div id="main" class="span9">
				<h2 class="title">{{ page.title }}</h2>
				{{ content }}
			</div>
			<!-- /#main -->
			
			
		</div>
	</div>
	
	{% include footer.html %}
</body>
</html>
